
form {
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 10px 5px 10px white;
    width: 600px;
    height: 488px;
    background-image: url('/assets/vecteezy_concept-of-sustainability-business-a-mortgage-wood-house_22839321.jpg');
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight:bold;
    color: #424242;
    font-family: "Lato", sans-serif;
}
.form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #424242;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: bold;
   
}
.form-group label {
    width: 40%;
    text-align: center;
    margin-right: 10px;
   
}
.form-group input,
.form-group select {
    width: 55%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    color: #777777;

}
input[type="submit"]:hover {
    background-color: #0E9E4D;
    
}.bg{
margin-left: 50px;
margin-top: -1px;



    

.btn {
    padding: 10px 20px;
    background-color: #ffc107; /* Yellow */
    border: none;
    color: #424242;
    font-weight: bold;
    font-size: 19px;
    font-family: "Georama", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;

    width: 150px;
    margin-left: 300px;

  }.form-group input[type="file"] {
    
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }

  .btn:hover {
    background-color: #0E9E4D; /* Green */
  }

  .btn.clicked {
    background-color: #0E9E4D; /* Green */
  }
  input:hover {
    border-color: blue; /* Change border color when hovered */
    background-color:#d7ebf2; /* Change background color when hovered */
  }
 


}
